{% extends "base.html" %}

{% block title %}📚 Reading{% endblock %}

{% set active_page = 'reading' %}

{% block extra_styles %}
<style>
    body {
        background-color: #C1DFF0;
        color: #093249; 
        font-family: Garamond, sans-serif;
        font-size: 20px;
        margin: 0px;
    }
    h1 {
        font-size: 30px; 
        margin-bottom: 10px; 
        margin-left: 20px;
    }

    header {
        background-color: #121212;
    }

    p {
        font-size: 20px; 
        line-height: 1.5; 
        margin-bottom: 10px; 
        margin-left: 20px;
        margin-top: 10px;
    }

    .intro {
        padding: 30px;
        padding-bottom: 10px;
    }

    a {
        color: #ffffff; 
        text-decoration: none; 
    }
    a:hover {
        text-decoration: underline; 
    }

    .recently-read {
        background-color: #093249;
        color: #C1DFF0;
        margin: 10px;
    }

    .recently-read-header {
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        font-size: 20px;
        padding-left: 50px;
        padding-top: 10px;
    }

    .recently-read-books {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        align-content: center;
        padding: 20px;
    }

    .recommended-fiction {
        background-color: #093249;
        color: #C1DFF0;
        margin: 10px;
    }

    .recommended-fiction-books {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        align-content: center;
        padding: 20px;
    }
    
    .book {
        text-align: center; 
    }
    .book img {
        max-height: 300px; 
        width: auto;
        display: block; 
        margin: 0 auto 10px;
        border-radius: 5px;
    }
    .book p {
        margin: 0; 
        font-size: 16px; 
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: normal; 
    }

    .button-container {
        margin-top: 5px;
    }

    .full-text-button {
        background-color: #C1DFF0; 
        color: #093249; 
        font-size: 17px;
        padding: 10px 20px; 
        border-radius: 5px; 
        border: none;
        text-decoration: none; 
        transition: background-color 0.3s; 
        align-items: center;
        cursor: pointer;
        margin-right: 35px;
    }
    .full-text-button::after {
        content: ' →';
    }

    .full-text-button:hover {
        background-color: #093249; 
        color: #C1DFF0;
        border: solid white 1px;
        text-decoration: none;
    }

</style>
{% endblock %}

{% block content %}
<div class="recommended-fiction">
    <div class="recently-read-header">
        <h2>Recommended Fiction</h2>
    </div>
    <div class="recommended-fiction-books">
        {% for fiction_book in recommended_fiction_books %}
            <div class="book">
                <a href="{{ url_for('books.detail', book_id=fiction_book.id) }}">
                    <img src="{{ fiction_book['cover_image_url'] }}" alt="{{ fiction_book['title'] }}">
                </a>
                <p><strong>{{ fiction_book['title'] }}</strong></p>
                <p>{{ fiction_book['author'] }}</p>
                <p>
                    {% if fiction_book['publication_year'] is not none %}
                        {% if fiction_book['publication_year'] < 0 %}
                            {{ -fiction_book['publication_year'] }} BC
                        {% else %}
                            {{ fiction_book['publication_year'] }}
                        {% endif %}
                    {% else %}
                        Unknown
                    {% endif %}
                </p>
                <!-- <p>
                    <img src="{{ url_for('static', filename='images/assets/stars/' + fiction_book['my_rating'] + '.png') }}" alt="{{ fiction_book['my_rating'] }} Stars" style="width: 50%;">
                </p> -->
            </div>
        {% endfor %}
    </div>
</div>
<div class="recommended-fiction">
    <div class="recently-read-header">
        <h2>Recommended Non-Fiction</h2>
    </div>
    <div class="recommended-fiction-books">
        {% for nonfiction_book in recommended_nonfiction_books %}
            <div class="book">
                <a href="{{ url_for('books.detail', book_id=nonfiction_book.id) }}">
                    <img src="{{ nonfiction_book['cover_image_url'] }}" alt="{{ nonfiction_book['title'] }}">
                </a>
                <p><strong>{{ nonfiction_book['title'] }}</strong></p>
                <p>{{ nonfiction_book['author'] }}</p>
                <p>
                    {% if nonfiction_book['publication_year'] is not none %}
                        {% if nonfiction_book['publication_year'] < 0 %}
                            {{ -nonfiction_book['publication_year'] }} BC
                        {% else %}
                            {{ nonfiction_book['publication_year'] }}
                        {% endif %}
                    {% else %}
                        Unknown
                    {% endif %}
                </p>
                <!-- <p>
                    <img src="{{ url_for('static', filename='images/assets/stars/' + nonfiction_book['my_rating'] + '.png') }}" alt="{{ nonfiction_book['my_rating'] }} Stars" style="width: 50%;">
                </p> -->
            </div>
        {% endfor %}
    </div>
</div>
<div class="recently-read">
    <div class="recently-read-header">
        <h2>Recently Read</h2>
        <p class="button-container"><a href="{{ url_for('books.index') }}" class="full-text-button">See All </a></p>
    </div>
    <div class="recently-read-books">
        {% for book in recently_read_books %}
            <div class="book">
                <a href="{{ url_for('books.detail', book_id=book.id) }}">
                    <img src="{{ book['cover_image_url'] }}" alt="{{ book['title'] }}">
                </a>
                <p><strong>{{ book['title'] }}</strong></p>
                <p>{{ book['author'] }}</p>
                <p>
                    {% if book['publication_year'] is not none %}
                        {% if book['publication_year'] < 0 %}
                            {{ -book['publication_year'] }} BC
                        {% else %}
                            {{ book['publication_year'] }}
                        {% endif %}
                    {% else %}
                        Unknown
                    {% endif %}
                </p>
                <p>
                    <img src="{{ url_for('static', filename='images/assets/stars/' + book['my_rating']|string + '.png') }}" alt="{{ book['my_rating'] }} Stars" style="width: 50%;">
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // $(document).ready(function() {
    //     // Function to adjust number of displayed books based on window width
    //     function adjustDisplayedBooks() {
    //         var windowWidth = $(window).width();
    //         var maxBooks = 10; // Default maximum number of books to display
    //         if (windowWidth < 900) {
    //             maxBooks = 5; // Adjust number of books for smaller screens
    //         }
    //         // Hide excess books
    //         $('.book').hide().slice(0, maxBooks).show();
    //     }
        
    //     // Call the adjustDisplayedBooks function when the page loads and when the window resizes
    //     adjustDisplayedBooks();
    //     $(window).resize(adjustDisplayedBooks);
    // });
</script>
{% endblock %}