{% extends "base.html" %}

{% block title %}🎧 Listening{% endblock %}

{% set active_page = 'listening' %}

{% block extra_styles %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    body {
        overflow: hidden;
    }

    .container {
        display: flex;
        width: 100%;
        height: 95vh;
    }

    .divider {
        width: 5px;
        background-color: #555;
        cursor: ew-resize;
    }

    .playlist-browser {
        flex: 0 0 60%;
        padding: 20px;
        padding-left: 30px;
        overflow-y: auto;
    }

    .playlist-details {
        flex: 0 0 30%;
        padding: 20px;
    }

    .introduction {
        padding: 20px;
        padding-bottom: 0px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #093249;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .monthly-playlists, .color-playlists, .tv-playlists, .individual-playlists {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: #093249;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .section-description {
        margin: 5px;
        margin-bottom: 15px;
    }
    
    .section-title {
        margin: 5px;
    }

    #datepickerInput {
        text-align: center;
        font-family: Garamond, sans-serif;
        font-size: 20px;
        max-width: calc(100% - 10px);
    }

    .playlist-details iframe {
        width: 100%;
        height: calc(98vh - 90px); 
        border: none;
    }

    .image-caption {
        text-align: center;
    }

    .image-caption img {
        width: 100%;
        max-width: 200px;
        height: auto;
        cursor: pointer;
        margin-bottom: 0px;
    }

    .caption-text {
        margin: 0;
        font-size: 14px;
        color: #fff; 
    }

    .playlist-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr)); 
        grid-gap: 10px; 
        width: 100%;
        justify-items: center; 
        align-items: center; 
    }

    .playlist-grid img {
        width: 100%;
        max-width: 200px; 
        height: auto;
        cursor: pointer;
    }

    .selected-playlist {
        display: none;
    }

    .selected-playlist-content {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        background-color: #C1DFF0;
        color: #121212;
        padding: 20px;
        border-radius: 5px;
    }

    .other-playlist-details {
        text-align: left;
        padding: 10px;
    }

    .playlist-art img {
        width: 170px;
        height: auto;
        margin-right: 10px;
    }

    .playlist-title {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 0px;
    }

    .playlist-description {
        font-size: 20px;
        margin: 0;
    }

    .disable-selection {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    @media screen and (min-width: 900px) {
        .open-spotify-button {
            display: none;
        }
    }

    @media screen and (max-width: 900px) {
        body {
            overflow-y: auto;
        }

        .container {
            flex-direction: column;
            height: auto;
        }

        .playlist-browser {
            flex: 1 0 auto;
            width: 95%;
            height: 95%;
            padding: 10px;
            margin-left: 5px;
            margin-bottom: 0px;
            overflow-y: visible;
        }

        .divider, .playlist-details {
            display: none;
        }

        .selected-playlist-content {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .playlist-art img {
            margin-right: 0;
            margin-bottom: 10px;
        }

        .other-playlist-details {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .open-spotify-button {
            display: inline-block;
            background-color: #1DB954;
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            text-decoration: none;
            margin-top: 10px;
        }

        .playlist-grid {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        }

        .playlist-title {
            font-size: 30px;
        }

        .playlist-description {
            font-size: 16px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="playlist-browser" id="playlist-browser">
        <div class="introduction">
            <p class="section-description"> As a data engineer and an archaeologist by education, classification and curation are hobbies of mine. I have no musical ability of my own but I get a lot of joy out of sorting songs and curating playlists. My public playlist profile on Spotify is a wasteland that is impossible to navigate, so I created this page to highlight some of my personal favorites hidden in the mass of abandoned playlists. Hope you enjoy.</p>
        </div>
        <div class="selected-playlist">
            <div class="selected-playlist-content">
                <div class="playlist-art">
                    <img src="small_playlist_art_url" alt="Playlist Art">
                </div>
                <div class="other-playlist-details">
                    <p class="playlist-title">Playlist Title</p>
                    <p class="playlist-description">Playlist Description</p>
                    <a href="#" class="open-spotify-button" target="_blank">Open in Spotify</a>
                </div>
            </div>
        </div>
        <div class="monthly-playlists">
            <h1 class="section-title">Monthly Playlists</h1>
            <p class="section-description">Every month I create a new playlist for songs that I am listening to on repeat. It is usually moslty new songs I heard for the first time that month with the occassional song I love thrown in. Use the search below to see what I was listening to in any given month since February 2019.</p>
            <input type="text" id="datepickerInput" placeholder="Select month and year">
        </div>
        <div class="color-playlists">
            <h1 class="section-title">Color Playlists</h1>
            <p class="section-description">Out of boredom, I went through my liked songs and created separate playlists based on the color of their album art. In most cases I have tried avoiding adding multiple songs from the same album to any of the playlists (choosing just my favorite track instead).</p>
            <div class="playlist-grid">
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84f4597cdd4a269b2d6b99cb6b" id="5dSSoKT4XixyrMAfghFEnj" playlistname="Green" description="Songs with predominantly green album art"> 
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da846cad4745d0bf2594fb6687c6" id="4LMgntTP6vsjkiEvvlHAbj" playlistname="Yellow" description="Songs with predominantly yellow album art">
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da8443b69f66cabf6ae4b26a7ded" id="4BeLgttjCMKJ6gVEsWpZFf" playlistname="Orange" description="Songs with predominantly orange album art">
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84fa853badbffa5686cbd79556" id="1mCvZw2wuEQ80VoNuf2Z8I" playlistname="Red" description="Songs with predominantly red album art"> 
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da842ff9ae2073e8711d9e0152e8" id="38qoJ0cp1jgomJd300eya6" playlistname="Pink" description="Songs with predominantly pink album art"> 
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84132105904431b23c5dbe97e3" id="1uuMuf5NLjCPkFQNa0q2zS" playlistname="Purple" description="Songs with predominantly purple album art"> 
            </div>
        </div>
        <div class="tv-playlists">
            <h1 class="section-title">TV Show Playlists</h1>
            <p class="section-description">One of the things that will keep me invested in a TV show is good music. I have started making small playlists of songs I like from shows that I think had really solid soundtracks.</p>
            <div class="playlist-grid">
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84f2ac5a21e21a897c6e82a77b" id="4wsBIj6PQgvgNEdE2Ky8OT" playlistname="The Young Pope" description="Songs I liked from the TV Show The Young Pope"> 
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da843fea3565ca39406587577d15" id="1kFAlfgQA3wC6tsEqSt0Oe" playlistname="Dollface" description="Songs I liked from the TV Show Dollface"> 
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da84fb60a39a288da9b8eeefd469" id="3fq86UjfF4WxotFcGlpJtx" playlistname="Severance" description="Songs I liked from the TV Show Severance"> 
                <img src="https://image-cdn-ak.spotifycdn.com/image/ab67706c0000da8473e64bcf66c0f22e258f7047" id="7M2R94ie1U0D4XbPRngKrl" playlistname="Death and Other Details" description="Songs I liked from the TV Show Death and Other Details"> 

            </div>
        </div>
        <div class="individual-playlists">
            <h1 class="section-title" style="margin-bottom: 15px;">Other Playlists</h1>
            <div class="playlist-grid">
                {% for playlist in approved_playlists %}
                    <div class="image-caption">
                        <img src="{{ playlist['album_art'] }}" id="{{ playlist['id'] }}" playlistname="{{ playlist['name'] }}" description="{{ playlist['description'] }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="divider" id="divider"></div>
    <div class="playlist-details" id="playlist-details">
        <iframe id="playlistFrame" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Datepicker initialization and handling
        initializeDatepicker();

        // Event listeners
        $(".playlist-grid img").click(handlePlaylistImageClick);

        initializeResizableDivider();
    });

    function initializeDatepicker() {
        var currentDate = new Date();
        var firstOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
        
        $("#datepickerInput").datepicker({
            dateFormat: "MM yy",
            changeMonth: true,
            changeYear: true,
            minDate: new Date(2019, 2 - 1),
            maxDate: firstOfMonth,
            showButtonPanel: true,
            onClose: handleDatepickerClose,
            beforeShow: function(input, inst) {
                setTimeout(function() {
                    inst.dpDiv.css({
                        top: $("#datepickerInput").offset().top + 35,
                        left: $("#datepickerInput").offset().left
                    });
                }, 0);
            },
        });

        $("#datepickerInput").focus(function() {
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });
        });
    }

    function handleDatepickerClose(dateText, inst) {
        var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
        
        $("#datepickerInput").val($.datepicker.formatDate('MM yy', new Date(year, month, 1)));
        
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var monthCodes = ["Jan ", "Feb ", "Mar ", "Apr ", "May ", "June ", "July ", "Aug ", "Sep ", "Oct ", "Nov ", "Dec "];
        var selectedPlaylist = monthCodes[month] + year.toString().substr(-2);

        fetchPlaylistDetails(parseInt(month), year, selectedPlaylist, monthNames[month]);
    }

    function fetchPlaylistDetails(month, year, selectedPlaylist, monthName) {
        fetch('/listening', {
            method: 'POST',
            body: JSON.stringify({ 
                month: month + 1, // Adding 1 to match Python's month numbering (1-12)
                year: year,
                playlist_code: selectedPlaylist
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) throw new Error('Network response was not ok');
            return response.json();
        })
        .then(data => {
            if (!data || data.error) throw new Error('Invalid or empty JSON data received');
            updatePlaylistDisplay(data.playlist_id, data.playlist_name, `Songs I listened to on repeat in ${monthName} of ${year}`, data.playlist_art);
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle error (e.g., show a message to the user)
        });
    }

    function updatePlaylistDisplay(playlistId, playlistTitle, playlistDesc, playlistImageUrl) {
        var iframeSrc = `https://open.spotify.com/embed/playlist/${playlistId}`;
        $("#playlistFrame").attr('src', iframeSrc);

        $(".selected-playlist .playlist-art img").attr("src", playlistImageUrl || "path/to/default-monthly-playlist-image.jpg");
        $(".selected-playlist .playlist-title").text(playlistTitle);
        $(".selected-playlist .playlist-description").text(playlistDesc);
        $(".open-spotify-button").attr("href", `https://open.spotify.com/playlist/${playlistId}`);
        $(".selected-playlist").show();
        $('.playlist-browser').scrollTop(0);
    }

    function handlePlaylistImageClick() {
        var imageId = $(this).attr("id");
        var imagesrc = $(this).attr("src");
        var playlistTitle = $(this).attr("playlistname");
        var playlistDesc = $(this).attr("description");

        $(".selected-playlist .playlist-art img").attr("src", imagesrc);
        $(".selected-playlist .playlist-title").text(playlistTitle);
        $(".selected-playlist .playlist-description").text(playlistDesc);
        $(".open-spotify-button").attr("href", `https://open.spotify.com/playlist/${imageId}`);
        $(".selected-playlist").show();

        var iframeSrc = `https://open.spotify.com/embed/playlist/${imageId}`;
        $("#playlistFrame").attr('src', iframeSrc);
        $('.playlist-browser').scrollTop(0);
    }

    function initializeResizableDivider() {
        const divider = document.getElementById('divider');
        const playlistBrowser = document.getElementById('playlist-browser');
        const playlistDetails = document.getElementById('playlist-details');
        let isResizing = false;

        divider.addEventListener('mousedown', function (e) {
            isResizing = true;
            document.body.classList.add('disable-selection');
        });

        document.addEventListener('mousemove', function (e) {
            if (!isResizing) return;
            let containerWidth = document.querySelector('.container').offsetWidth;
            let newWidth = (e.clientX / containerWidth) * 100;
            let adjustedWidth = containerWidth > 2000 ? 95 : 95 - Math.ceil((2000 - containerWidth) / 200);
            
            if (newWidth > 30 && newWidth < 70) {
                playlistBrowser.style.flex = `0 0 ${newWidth}%`;
                playlistDetails.style.flex = `0 0 ${adjustedWidth - newWidth}%`;
            }
        });

        document.addEventListener('mouseup', function (e) {
            if (isResizing) {
                isResizing = false;
                document.body.classList.remove('disable-selection');
            }
        });
    }
</script>
{% endblock %}