{% extends "base.html" %}

{% block title %}🎬 Recently Watched{% endblock %}

{% set active_page = 'watching' %}

{% block extra_styles %}
<style type="text/css">
    body {
        background-color: #C1DFF0; 
        color: #121212; 
        font-family: Garamond, sans-serif;
        font-size: 18px;
        margin: 0;
        padding: 0; 
    }
    header {
        background-color: #121212;
    }
    table {
        background-color: #093249;
        color: #fff;
        border-collapse: collapse;
        margin: 10px auto;
        width: 98%;
    }
    th, td {
        padding: 8px;
        padding-bottom: 16px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #121212;
        color: #fff;
    }
    .center-header {
        text-align: center;
    }
    .image-column {
        width: 150px; /* Fixed width for image column */
    }
    .details-column {
        width: 200px;
    }
    .date-column {
        width: 75px;
    }
    .rating-column {
        width: 100px;
    }
    img {
        max-height: 300px; /* Limit image height */
        max-width: 100%; /* Ensure image fits within its container */
        display: block; /* Ensure proper sizing */
        margin: auto; /* Center the image horizontally */
    }
    .header-text {
        padding-left: 20px;
        text-align: center;
    }
    .header-container {
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center vertically */
        
    }
    .back-button {
        background-color: #007bff; /* Blue background color for button */
        color: #ffffff; /* White text color */
        padding: 10px 20px; /* Add padding */
        margin-left: 20px;
        border-radius: 5px; /* Rounded corners */
        text-decoration: none; /* Remove underline from button */
        transition: background-color 0.3s; /* Smooth transition for background color */
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center vertically */
    }
    .back-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
    blockquote {
        background-color: #444; /* Dark grey background color for quotes */
        color: #fff; /* White text color */
        padding: 20px; /* Add padding around the quote */
        margin-bottom: 20px; /* Add space between quotes */
        border-left: 5px solid #007bff; /* Blue border on the left */
        margin-left: 5px;
    }
    .preserve-newlines {
        white-space: pre-line;
    }
</style>
{% endblock %}

{% block content %}
<div class="header-container">
    <!-- <p><a href="/watching" class="back-button">←Back</a></p>
    <h1 class="header-text">Recently Watched</h1> -->
</div>
<table>
    <thead>
        <tr>
            <th class="center-header">Cover</th>
            <th>Details</th>
            <th>Date Watched</th>
            <th>My Rating</th>
            <th>My Review</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <td class="image-column"><img src="{{ movie['cover_image_url'] }}" alt="{{ movie['title'] }}"></td>
                <td class="details-column">
                    <strong>Title:</strong> {{ movie['title'] }}<br><br>
                    <strong>Director:</strong> {{ movie['director'] }}<br>
                    <strong>Year:</strong> {{ movie['year'] }}
                </td>
                <td class="date-column">{{ movie['date_watched'] }}</td>
                <td class="rating-column">
                    <img src="{{ url_for('static', filename='images/assets/stars/' + movie['my_rating'] + '.png') }}" alt="{{ movie['my_rating'] }} Stars">
                </td>
                <td>
                    {% set parts = movie['my_review'].split('<blockquote>') %}
                    <span class="preserve-newlines">{{ parts[0]|trim|safe }}</span>
                    {% if parts|length > 1 %}
                        <blockquote>
                            {% for part in parts[1:] %}
                                {% set blockquote_content = part.split('</blockquote>', 1) %}
                                {{ blockquote_content[0]|safe }}
                                {% if not loop.last %}
                                    <br><br>
                                {% endif %}
                            {% endfor %}
                        </blockquote>
                        {% set last_part = parts[-1].split('</blockquote>', 1) %}
                        {% if last_part|length > 1 %}
                            <span class="preserve-newlines">{{ last_part[1]|trim|safe }}</span>
                        {% endif %}
                    {% endif %}
                    <!-- {% set review_parts = movie['my_review'].split('<blockquote>') %}
                    {% if review_parts|length > 1 %}
                        {% set blockquote_text = review_parts[1].split('</blockquote>') %}
                        {% if blockquote_text|length > 1 %}
                            <blockquote>{{ blockquote_text[0] }}</blockquote>
                            <span class="preserve-newlines">{{ review_parts[0]|safe }} {{ blockquote_text[1]|safe }}</span>
                        {% else %}
                            <span class="preserve-newlines">{{ review_parts[0]|safe }} {{ blockquote_text[0]|safe }}</span>
                        {% endif %}
                    {% else %}
                        <span class="preserve-newlines">{{ movie['my_review']|safe }}</span>
                    {% endif %} -->
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}