{% extends "base.html" %}

{% block title %}🎬 Recently Watched{% endblock %}

{% set active_page = 'watching' %}

{% block extra_styles %}
<style type="text/css">
    body {
        background-color: #C1DFF0; 
        color: #121212; 
        font-family: Garamond, sans-serif;
        font-size: 18px;
        margin: 0;
        padding: 0; 
    }
    header {
        background-color: #121212;
    }
    table {
        background-color: #093249;
        color: #fff;
        border-collapse: collapse;
        margin: 10px auto;
        width: 98%;
    }
    th, td {
        padding: 8px;
        padding-bottom: 16px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #121212;
        color: #fff;
    }
    .center-header {
        text-align: center;
    }
    .image-column {
        width: 150px; /* Fixed width for image column */
    }
    .details-column {
        width: 225px;
    }
    .movie-title {
        font-size: 22px;
    }
    .date-column {
        width: 75px;
    }
    .rating-column {
        width: 120px;
        text-align: center;
        padding-right: 15px;
    }
    .stars-image {
        padding-top: 7px;
    }
    img {
        max-height: 300px; /* Limit image height */
        max-width: 100%; /* Ensure image fits within its container */
        display: block; /* Ensure proper sizing */
        margin: auto; /* Center the image horizontally */
    }
    .header-text {
        padding-left: 20px;
        text-align: center;
    }
    .header-container {
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center vertically */
        
    }
    .back-button {
        background-color: #007bff; /* Blue background color for button */
        color: #ffffff; /* White text color */
        padding: 10px 20px; /* Add padding */
        margin-left: 20px;
        border-radius: 5px; /* Rounded corners */
        text-decoration: none; /* Remove underline from button */
        transition: background-color 0.3s; /* Smooth transition for background color */
        display: flex; /* Use flexbox for layout */
        align-items: center; /* Center vertically */
    }
    .back-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
    blockquote {
        background-color: #444; /* Dark grey background color for quotes */
        color: #fff; /* White text color */
        padding: 20px; /* Add padding around the quote */
        margin-bottom: 20px; /* Add space between quotes */
        border-left: 5px solid #007bff; /* Blue border on the left */
        margin-left: 5px;
    }
    .preserve-newlines {
        white-space: pre-line;
    }



    @media screen and (max-width: 900px) {
        body {
            background-color: #093249;
        }
        table, tbody, tr {
            display: block;
            width: 100%;
            margin-top: 0px;
        }

        thead {
            display: none; /* Hide the table header on mobile */
        }

        tr {
            margin-bottom: 30px;
            background-color: #093249;
            border-radius: 8px;
            overflow: hidden;
        }

        td {
            display: block;
            border: none;
            position: relative;
            padding: 10px 15px;
            text-align: center;
        }

        /* Remove the pseudo-elements that were adding column names */
        td:before {
            content: none;
        }

        .image-column {
            width: 95%;
            text-align: center;
        }

        .image-column img {
            max-height: 350px; /* Limit image height */
            width: auto; /* Maintain aspect ratio */
            max-width: 100%; /* Ensure image fits within its container */
        }

        .details-column, .rating-column {
            width: auto;
        }

        .movie-title {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .rating-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #C1DFF0; 
            color: #121212; 
            border-radius: 5px 5px 0 0;
            margin: 5px;
            margin-bottom: 0px;
        }

        .rating-column > * {
            margin: 0;
        }

        .stars-image {
            padding-top: 5px;
            height: 20px; /* Adjust star image size */
        }

        .rating-handling {
            padding-top: 0;
            background-color: #C1DFF0; 
            color: #121212; 
            border-radius: 0 0 5px 5px;
            margin: 5px;
            margin-top: 0;
        }

        blockquote {
            margin: 0;
            margin-bottom: 10px;
            font-size: 16px;
        }

        .preserve-newlines {
            font-size: 16px;
        }
    }

    /* Additional optimization for very small screens */
    @media screen and (max-width: 480px) {
        body {
            font-size: 16px;
        }

        .movie-title {
            font-size: 18px;
        }

        .image-column img {
            max-height: 250px;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="header-container">
    <!-- <p><a href="/watching" class="back-button">←Back</a></p>
    <h1 class="header-text">Recently Watched</h1> -->
</div>
<table>
    <thead>
        <tr>
            <th class="center-header">Cover</th>
            <th>Details</th>
            <th>Date Watched + My Rating</th>
            <th>My Review</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <td class="image-column"><img src="{{ movie['cover_image_url'] }}" alt="{{ movie['title'] }}"></td>
                <td class="details-column">
                    <strong class="movie-title">{{ movie['title'] }}</strong><br>
                    {{ movie['director'] }}<br>
                    {{ movie['year'] }}
                </td>
                <td class="rating-column">
                    {{ movie['date_watched'] }}<br>
                    <img class="stars-image" src="{{ url_for('static', filename='images/assets/stars/' + movie['my_rating'] + '.png') }}" alt="{{ movie['my_rating'] }} Stars">
                </td>
                <td class="rating-handling">
                    {% set parts = movie['my_review'].split('<blockquote>') %}
                    <span class="preserve-newlines">{{ parts[0]|trim|safe }}</span>
                    {% if parts|length > 1 %}
                        <blockquote>
                            {% for part in parts[1:] %}
                                {% set blockquote_content = part.split('</blockquote>', 1) %}
                                {{ blockquote_content[0]|safe }}
                                {% if not loop.last %}
                                    <br><br>
                                {% endif %}
                            {% endfor %}
                        </blockquote>
                        {% set last_part = parts[-1].split('</blockquote>', 1) %}
                        {% if last_part|length > 1 %}
                            <span class="preserve-newlines">{{ last_part[1]|trim|safe }}</span>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}